.wpmd {
  display: block;
  margin-top: 10px;
}
.wpmd input[type=checkbox] {
  display: none !important;
}
.wpmd input[type=checkbox]:before {
  display: none !important;
}
.wpmd label {
  cursor: pointer;
  text-indent: -9999px;
  width: 50px;
  height: 25px;
  background: grey;
  display: inline-block;
  border-radius: 25px;
  position: relative;
}
.wpmd label:after {
  content: '';
  position: absolute;
  top: 1px;
  left: 2px;
  width: 23px;
  height: 23px;
  background: #fff;
  border-radius: 11px;
  transition: 0.3s;
}
.wpmd input:checked + label {
  background: #0073aa;
}
.wpmd input:checked + label:after {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}
.wpmd label:active:after {
  width: 40px;
}
.wpmd.sm {
  margin-top: 3px;
}
.wpmd.sm label {
  width: 44px;
  height: 22px;
  background: grey;
  display: inline-block;
  border-radius: 22px;
}
.wpmd.sm label:after {
  top: 1px;
  left: 2px;
  width: 20px;
  height: 20px;
  border-radius: 11px;
}
.wpmd.sm input:checked + label {
  background: #0073aa;
}
.wpmd.sm input:checked + label:after {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}
.wpmd.sm label:active:after {
  width: 30px;
}

.metabox-holder {
  border: 0px solid #ccc;
  border-top: 0;
  margin: 0;
  padding: 10px 20px 20px 20px;
  line-height: inherit;
}

.wrap div.updated {
  margin: 0;
  margin-top: 15px;
}

.g-tab-title {
  display: block;
  overflow: hidden;
  font-size: 1.5rem;
  padding-bottom: 15px;
}

form .g-section-title {
  position: relative;
  display: block;
  font-size: 1.2rem;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}
form .g-section-title .setting-toggle {
  position: absolute;
  display: inline-block !important;
  right: 15px;
  top: -15px;
}
form .g-section-title-desc {
  font-size: 13px;
  margin: 0px 5px;
  padding: 3px 6px;
  color: #aaaaaa;
  border-radius: 3px;
}
form .g-section-desc {
  display: block;
}

pre.setting-example {
  background-color: #ffffff;
  border: 0 !important;
  padding: 10px !important;
  border-radius: 3px;
}
pre.setting-example code {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

.example-tag {
  border: 1px #dddddd solid;
  padding: 2px 5px;
  margin: 3px;
  border-radius: 2px;
  color: #0073aa;
  background-color: #ffffff;
}

/*
.nav-tab-active, .metabox-holder {
	background-color: #ffffff;
}

.nav-tab-active {
	border-bottom: 1px solid #ffffff;
}
*/
.CodeMirror .cm-spell-error:not(.cm-url):not(.cm-comment):not(.cm-tag):not(.cm-word):not(.cm-tag):not(.cm-property):not(.cm-variable):not(.cm-variable-2):not(.cm-string):not(.cm-link):not(.cm-def):not(.cm-atom):not(.cm-operator) {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAACCAYAAAB/qH1jAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QUXCToH00Y1UgAAACFJREFUCNdjPMDBUc/AwNDAAAFMTAwMDA0OP34wQgX/AQBYgwYEx4f9lQAAAABJRU5ErkJggg==);
  background-position: bottom left;
  background-repeat: repeat-x;
}
