/**
 * Username Changer Admin CSS
 *
 * @package     UsernameChanger\Admin\CSS
 * @since       3.0.0
 */


 /* Support
 -------------------------------------------------------------- */
.username-changer-get-help .dashicons {
    vertical-align: middle;
    line-height: 0.9em;
    margin-right: 5px;
}


/* Support
-------------------------------------------------------------- */
.username-changer-settings-note {
    background-color: #fcecad;
    border: 1px solid #cccccc;
    padding: 7px;
}

.username-changer-settings-note .note-title {
    font-weight: bold;
}

.username-changer-template-tag-list {
    margin: 14px 14px 0 14px;
}

.username-changer-template-tag span {
    width: 150px;
    display: inline-block;
}

@media screen and ( max-width: 480px ) {
    .username-changer-template-tag {
        margin-bottom: 12px;
    }

    .username-changer-template-tag span {
        width: 100%;
    }
}
